<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>DigitalIRC{% if page.title %} | {{ page.title }}{% endif %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{site.description}}"/>
        <meta name="author" content="{{site.author}}"/>
        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />

        <!-- Le styles -->
        <link href="{{site.staticurl}}/stylesheets/bootstrap.min.css" rel="stylesheet">
        <link href="{{site.staticurl}}/stylesheets/bootstrap-theme.min.css" rel="stylesheet">
        <link href="{{site.staticurl}}/stylesheets/custom-style.css" rel="stylesheet">
                
        <!-- Fav and touch icons -->
        <link rel="shortcut icon" href="{{site.staticurl}}/images/favicon.shortcuticon.png" />
        <link rel="icon" href="{{site.staticurl}}/images/favicon.icon.png" type="image/png"/>
        <link rel="apple-touch-icon-precomposed" href="{{site.staticurl}}/images/favicon.apple.png" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="{{site.staticurl}}/javascript/bootstrap.min.js"></script>
    </head>
    <body quick-markup_injected="true">
        <div class="container">
            <div class="masthead">
                <h3 class="text-muted">{{site.name}}</h3>
                <ul class="nav nav-justified">
                    <li {% if page.url == '/' %}class="active"{% endif %}><a href="{{site.url}}">Home</a></li>
                    <li {% if page.url == '/posts/' %}class="active"{% endif %}><a href="{{site.baseurl}}/posts/">News</a></li>
                    <li {% if page.url == '/wiki/' %}class="active"{% endif %}><a href="{{site.baseurl}}/wiki/">Wiki</a></li>
                    <li {% if page.url == '/webchat/' %}class="active"{% endif %}><a href="https://webchat.digitalirc.org/">Webchat</a></li>
                    <li {% if page.url == '/stats/' %}class="active"{% endif %}><a href="http://stats.digitalirc.org/">Stats</a></li>
                    <li class="dropdown">
                        <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{site.baseurl}}/code/">Projects</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{site.baseurl}}/services/">Services</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{site.baseurl}}/tickets/">Contact Us</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{site.baseurl}}/status/">System Status</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
{{ content }}
{% include footer.html %}
        </div> <!-- /container -->
        <!-- Piwik -->
        <script type="text/javascript">
          var _paq = _paq || [];
          _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
          _paq.push(["setCookieDomain", "*.digitalirc.org"]);
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function() {
            var u="//metrics.digitalirc.org/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', 2]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
          })();
        </script>
        <noscript><p><img src="//metrics.digitalirc.org/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->
    </body>
</html>
